html,
body {
  height: 100vh;
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
  background: url('/images/back-water.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.wave-left {
  opacity: 0.1;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.bg-layout {
  height: calc(100vh - 100px);
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.bengi-logo {
  border: 1px solid rgb(63, 201, 255);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(227, 227, 227, 0.3);
  -moz-box-shadow: 1px 1px 5px 0px rgba(227, 227, 227, 0.3);
  box-shadow: 1px 1px 5px 0px rgba(44, 40, 40, 0.3);
}

@media (min-width: 1900px) {
  .wave {
    width: 100%;
  }
}